@let f = film();

<article class="film-card" [routerLink]="[filmsPath, f.id]">
  <div class="film-card__header">
    <app-favorite-toggle class="film-card__favorite-toggle" [isFavorite]="f.isFavorite"
      (favoriteToggled)="toggleFavorite()" />
    <button class="film-card__rating" (click)="$event.stopPropagation()">{{f.rating}}</button>
  </div>
  <div class="film-card__wrapper">
    <div class="film-card__thumb">
      <img [src]=" f.posterUrl" [alt]="f.title" loading="lazy">
    </div>
    <div class="film-card__info">
      <h3 class="film-card__title">{{f.title}}</h3>
      <p>{{f.year}} • {{f.genre}}</p>
    </div>
  </div>
</article>