@use 'utils';

.header {
  background-color: var(--color-black);
}

.wrapper {
  @extend %wrapper;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav {
  display: flex;

  a {
    padding: 16px 20px;
    color: var(--color-white);
    text-decoration: none;

    &.active {
      background-color: var(--color-accent);
    }
  }
}
