@use 'utils' as *;

.film-card {
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 100%;

  @include hover {
    &:hover img {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    position: absolute;
    z-index: 10;
    right: -4px;
    top: 12px;
    display: flex;
    justify-content: end;
    overflow: hidden;
    border-radius: 4px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    min-width: 22px;
    background-color: var(--color-orange);
    color: white;
    font-size: 14px;
    user-select: none;
  }

  &__btn {
    @extend %btn;
    padding: 4px;
    font-size: 18px;
  }

  &__thumb {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  img {
    object-fit: cover;
    @include main-transition('transform');
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
    background-color: white;
  }
}
