@use 'utils';

.wrapper {
  width: 100%;
  padding: 60px 0;
}

.search-box {
  @extend %text-input;

  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  height: 40px;
  padding-left: 20px;

  @media (width <=768px) {
    width: 100%;
  }
}

.message {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film-cards {
  --items-per-row: 4;
  --gap: 24px;

  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  width: 100%;

  &__item {
    width: calc((100% - (var(--items-per-row) - 1) * var(--gap)) / var(--items-per-row));

    @media (width <=1270px) {
      --items-per-row: 3;
    }

    @media (width <=768px) {
      --items-per-row: 2;
    }

    @media (width <=460px) {
      --items-per-row: 1;
    }
  }
}
