@use 'utils';

:host {
  background-color: rgb(244, 244, 244);
  border-bottom: 1px solid rgb(231, 231, 231);
}

.wrapper {
  @extend %wrapper;
  font-size: 14px;
}

.link {
  @extend %link-base;
}

.label,
.link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.separator {
  padding: 0 8px;
}
